.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
service-account.json

archive/

Alliance_Brand Guidelines 2025_V2.pdf
Results/
workshop/Results/
/workshop_files/
IASSIST2026_CuratingLargeDatasets.pdf
workshop/HPC/fir/bundle/
hpc/fir/bundle/
